<!-- login_success_popup.html -->
<html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Login Sucess</title>
</head>
<body>
  <p>Đăng nhập thành công, vui lòng chờ...</p>
  <script>
    const access_token = "{{ access_token }}"
    const refresh_token = "{{ refresh_token }}"
    const username = "{{ username }}"
    localStorage.setItem("google_login_success", "y")
    localStorage.setItem("dj7n_access_token", access_token)
    localStorage.setItem("dj7n_refresh_token", refresh_token)
    window.close();  // Đóng popup
  </script>
</body>
</html>